<md-card>
  <md-card-title text="Employment" icon="work"></md-card-title>

  <position
    positionName="Full stack developer in Paralect"
    place="Paralect"
    start="2016"
    text='Paralect is small company of experts with "open-source" view on the world. We develop web-application with cutting-edge technologies. Scalable web applications is our main specialty. We also very good in front-end, especially in development Single Page Applications with frameworks such AngularJS, KnockoutJS, BackboneJS.'
    hiddenText="false"
    last="false">
  </position>

  <position
    positionName="Front-end developer in HiQo solutions"
    place="HiQo solutions"
    start="2013"
    end="2015"
    text='HiQo Solutions is a cutting-edge software development services provider specializing in applications for interactive marketing, field services, agriculture, mobile platforms, banks and finance spheres, business intelligence, etc. One of our distinctive features is our ability to work on science-intensive and specialized projects, which is made possible by our talented and experienced team.'
    hiddenText="true"
    last="false">
  </position>

  <position
    positionName="Independed developer"
    start="2011"
    end="2013"
    hiddenText="true"
    last="true">
  </position>
</md-card>