<md-card>
  <div class="layout">
    <div class="photo">
      <img src="assets/images/photo.jpg" alt="Evgeny Zhivitsa">
    </div>

    <div class="info">
      <h1>Evgeny Zhivitsa</h1>
      <h2>Full Stack Developer</h2>

      <ul class="skills">
        <li>Front-end development</li>
        <li>Back-end (Node.js) development</li>
        <li>Cross-platform mobile delelopment</li>
      </ul>
    </div>
  </div>
</md-card>

<md-card>
  <p>Now I'm a undergraduate of the Belarusian state university and I have been doing research in the field of theory of graphs. The theme of my dissertation is "Algorithmic aspects оф postoptimal analysis of discrete optimization problems". My supervisor is <a href="http://mmf.bsu.by/ru/fakultet/kafedry/matematicheskoy-kibernetiki/sotrudniki/kuzminkg/">Kuzmin K.G.</a></p>
  <p><a href="assets/docs/zhivitsa_abstract.doc">Link to the abstract on the subject "Basis of information technologies".</a></p>
  <p><a href="assets/presentations/zhivitsa_presentation.ppt">Link to the presentation on the subject "Basis of information technologies".</a></p>
</md-card>

<md-card>
  <p>I am full stack deleveloper at <a class="paralect-link" href="http://paralect.com">Paralect</a></p>
  <p>I'm full stack developer focused on modern technologies stack capable of delivering complete web solutions. I have strong background in computer science, graduated from mechanics and mathematic faculty of the BSU in 2016, and already have:</p> 
  <ul class="experience">
    <li>4+ years of experience with programming;</li>
    <li>1+ years of experience with Node.js;</li>
    <li>3+ years of professional web-development experience;</li>
  </ul>
</md-card>