<md-card>
  <div class="layout">
    <div class="photo">
      <img src="assets/images/photo.jpg" alt="Evgeny Zhivitsa">
    </div>

    <div class="info">
      <h1>Evgeny Zhivitsa</h1>
      <h2>Full Stack Developer</h2>

      <ul class="skills">
        <li>Front-end development</li>
        <li>Back-end (Node.js) development</li>
        <li>Cross-platform mobile delelopment</li>
      </ul>
    </div>
  </div>
</md-card>

<md-card>
  <p>I am full stack deleveloper at <a class="paralect-link" href="http://paralect.com">Paralect</a></p>
  <p>I'm full stack developer focused on modern technologies stack capable of delivering complete web solutions. I have strong background in computer science, graduated from mechanics and mathematic faculty of the BSU in 2016, and already have:</p> 
  <ul class="experience">
    <li>4+ years of experience with programming;</li>
    <li>1+ years of experience with Node.js;</li>
    <li>3+ years of professional web-development experience;</li>
  </ul>
</md-card>