<md-card>
  <md-card-title text="Education" icon="school"></md-card-title>

  <position
    positionName="Student (master)"
    place="Belarusian state university"
    start="2016"
    end="2017"
    text='Science – Industrial department has been training mathematicians since its foundation. The students have not only the classical courses in Mathematics but also in Information Technologies and Media. The graduates have a large field to apply their knowledge. They can be scientists, programmers, economists, businessmen etc. A degree of Mathematics gives large opportunities.'
    hiddenText="false"
    last="false">
  </position>

  <position
    positionName="Student (specialist)"
    place="Belarusian state university"
    start="2011"
    end="2016"
    text='The Mechanics and Mathematics Faculty is one of the main department at the Belarusian State University. There are 10 different departments today on the faculty, 32 professors and doctors of science, 65 associate professors and candidates of science and more than 1000 students. The faculty offers students 6 programmes including Web Programming and Internet Technologies, Mechanics and Computer Mathematics.'
    hiddenText="true"
    last="false">
  </position>

  <position
    positionName="Schoolboy"
    place="High school №4 of the Dzerzhinsk"
    start="2010"
    end="2011"
    hiddenText="true"
    last="true">
  </position>
</md-card>